.titulo1{
    background-color: gold;
    color: white;
    padding: 30px;
    font-size: 45px;
    text-align: center;
    border-radius: 12px;
    text-shadow: 15px 15px 15px black;
    
}
.titulo1:hover{
    background-color: goldenrod;
    color: white;
}
body{
    background-color:rgb(20, 33, 209);
    color: white;

}
.subtitulo{
    background-color: rgb(185, 21, 21);
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    text-shadow: 14px 16px 9px rgb(0, 0, 0);
}
p{
    font-size: 30px;

}
.link{
   background-color: rgb(168, 144, 8);
   color: white;
   padding: 15px;
   text-align: center;
   border-radius: 25px;
   text-decoration: none;
   display: inline-block;
   margin-top: 17px;
   transition: 0.3s;
}
.link:hover{
 
    background-color: rgb(177, 106, 20);
    color: white;
    


}
/* ao clicar o foco se alterar */
.link:focus{
    color:white;
    background-color: darkblue;
    
}
.imagem{
    width: 350px;
    height: 470px;
    border-radius: 10px;
    box-shadow: 20px 17px 15px rgb(3, 2, 73);
    transition: 0.4s;
    cursor: pointer;

    

}

.imagem:hover{

    background-color: aqua;
    color: black;
    width: 400px;
    height: 500px;

}
.div{
    display: flex;
    gap: 30px;




}

